<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/galery.css">
    <!-- swiper css -->
    <link rel="stylesheet" href="package/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title>IPPC</title>
</head>

<body class="body">
    <!--Header-->
    <header>
        <a href="#" class="logo"><img src="img/users/logo.svg" alt="logo do Chimbanda"></a>
        <div class="bars">
            <i class="fa fa-bars icon"></i>
        </div>
        <nav class="nagation">
            <div class="router">
                <a href="/" class="active">Home</a>
                <a href="#galeria" >Galeria</a>
                <span class="active-navbar"></span>
            </div>

            
        </nav>
    </header>
    <section class="home width galeria-main" id="home">

        <div class="content-secundary-galeria">
            <h1>Galeria de Fotos: Instituto Politecnico Privado Chimbanda</h1>
            <p>"Mergulhe em nossa galeria de fotos para testemunhar os eventos emocionantes e atividades enriquecedoras que moldam nossa jornada educacional."</p>
          
        </div>

       
    </section>
 <section class="galery" id="galeria">
    <div class="main-galery">
        <img class="large" src="img/galeria/museu-2.jpg" alt="foto de alunos no museu de Benguela">
       <img class="small" src="img/galeria/batismo-3.jpg" alt="foto de batismo de calouro">
       <img class="small" src="img/galeria/museu-5.jpg" alt="foto de batismo de calouro">
       <img class="large" src="img/galeria/museu-4.jpg" alt="foto de alunos no museu de Benguela">
       <img class="small" src="img/galeria/batismo-1.jpg" alt="foto de batismo de calouro">
       <img class="large" src="img/galeria/batismo-2.jpg" alt="foto de batismo de calouro">
       <img class="large" src="img/galeria/finalistas.jpg" alt="foto de finalista de 2023">
       <img class="small" src="img/galeria/museu-1.jpg" alt="foto de alunos no museu de Benguela">
      
       
    </div>

 </section>

    <!-- <footer class="footer width">

        <div class="social-media">
            <a href="#" ><img src="img/users/logo.svg" alt="logo do Chimbanda"></a>
            <p>Copyright &copy;2023-2024 IPPChimbanda </p>
            <div class="networks">
                <div>
                    <a href="https://www.facebook.com/">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/xavier-belchior-45483b283/">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-row">
            <div class="row">
            </div>
        </div>

        <div class="links">
            <ul class="media">
                <a href="https://www.facebook.com/">Facebook.com</a>
                <a href="https://www.youtobe.com/">Youtobe.com</a>
                <a href="https://www.instagram.com/">Instagram.com</a>
            </ul>
            <ul class="media">
                <a href="https://www.twuiter.com/">Twuiter.com</a>
                <a href="https://www.googlr.com/">google.com</a>
                <a href="https://www.discord.com/">Discord.com</a>
            </ul>
            <ul class="media">
                <a href="https://www.linkedin.com/">linkedin.com</a>
                <a href="https://www.dribble.com/">Dribble.com</a>
                <a href="https://www.telegram.com/">telegram.com</a>
            </ul>
        </div>
    </footer> -->
    <footer class="footer">
        <a href="#" ><img src="img/users/logo.svg" alt="logo do Chimbanda"></a>
        <div class="footer-text">
            <p>Copyright &copy; 2023/2024 by ippChimbanda | Todos direitos reservados. </p>
        </div>
        <div class="footer-iconTop">
            <a href="#"><i class="fa fa-arrow-circle-up"></i></a>
        </div>
    </footer>

    <!-- swiper js -->
   
    <script src="js/script.js"></script>
</body>

</html>