<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/animation-curses.css">
    <link rel="stylesheet" href="css/testimonio.css">
    <!-- swiper css -->
    <link rel="stylesheet" href="package/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title>IPPC</title>
</head>

<body>
    <!--Header-->
    <header>
        <a href="#" class="logo"><img src="img/logo.svg" alt="banner"></a>
        <div class="bars">
            <i class="fa fa-bars icon"></i>
        </div>
        <nav class="nagation">
            <div class="router">
                <a href="#home" class="active">Home</a>
                <a href="#about">Quem somos </a>
                <a href="#courses">Cursos </a>
                <a href="#faculty">Professores</a>
                <a href="#events">Eventos</a>
                <a href="#contact">Contacto</a>
                <span class="active-navbar"></span>
            </div>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Logout</button>
            </form>
        </nav>
    </header>
    <section class="home width" id="home">

        <div class="content-secundary">
            <h1>Olá! <span style="color: #5638dc; font-weight: 700; font-size: 3rem;">{{name}}</span> ,encontre o futuro agora com...</h1>
            <div class="text-animate">
                <h3>Instituto P.P Chimbanda</h3>
            </div>
            <p>No nosso site institucional, você encontrará
                oportunidades excepcionais para impulsionar o seu crescimento pessoal e
                profissional e Junte-se a nós e dê o primeiro passo em direção a um futuro brilhante e repleto de
                realizações.... </p>
        </div>

        <div class="buttons-home">
            <a href="/developer" class="btn"> Desenvolvidor</a>
            <a href="#about" class="btn">Sobre nós</a>

        </div>

        <div class="img-bg">
            <img src="img/Ilustra.png" alt="">

        </div>

    </section>
    <section class="about width" id="about">
        <div class="head-about width">
            <div class="box">
                <span>958+</span>
                <p>membros</p>

            </div>
            <div class="box">
                <span>180+</span>
                <p>nossos cursos</p>
            </div>
            <div class="box">
                <span>78+</span>
                <p>projectos completados</p>
            </div>
            <div class="box">
                <span>10+</span>
                <p>prémios</p>
            </div>

        </div>

        <div class="about-main">
            <div class="about-img width">
                <img src="img/imgabout2.png" alt="ippchimbanda">

            </div>

            <div class="about-content width">
                <h3>Sobre Chimbanda </h3>
                <p>
                    Bem-vindo ao Chimbanda, que se dedica a fornecer uma educação excepcional e inspiradora para jovens
                    no Lobito. Com um compromisso inabalável com a excelência acadêmica, inovação e atendimento
                    individualizado, Nossa missão é cultivar
                    mentes curiosas e preparar os alunos para um futuro repleto de realizações.
                </p>
                </p>

                <div class="buttons-home">
                    <a href="#" class="btn">Ler mais</a>
                </div>
            </div>

        </div>
        </div>
    </section>
    <section class="portfolio" id="courses">
        <div class="main-text">
            <span>O que eu faço por voçe</span>
            <h2>Ultimos Cursos</h2>
        </div>

        <div class="container">
            <div class="filter-buttons">
                <button class="button" data-filter="all">All</button>
                <button class="button" data-filter=".product">Product</button>
                <button class="button" data-filter=".inter">Interacting</button>
                <button class="button" data-filter=".web">Web App</button>
            </div>
            <div class="portfolio-gallery">
                <div class="port-box mix product">
                    <div class="port-image">
                        <img src="img/1.jpg">
                    </div>
                    <div class="port-content">
                        <h3>Informatica de Gestão</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#"><i class="fa fa-external-link"></i></a>
                    </div>
                </div>

                <div class="port-box mix product">
                    <div class="port-image">
                        <img src="img/2.jpg">
                    </div>
                    <div class="port-content">
                        <h3>Recursos Humanos</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#"><i class="fa fa-external-link"></i></a>
                    </div>
                </div>

                <div class="port-box mix product">
                    <div class="port-image">
                        <img src="img/3.jpg">
                    </div>
                    <div class="port-content">
                        <h3>Designer Grafico</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#"><i class="fa fa-external-link"></i></a>
                    </div>
                </div>

                <div class="port-box mix inter">
                    <div class="port-image">
                        <img src="img/4.jpg">
                    </div>
                    <div class="port-content">
                        <h3>Empreendedorismo</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#"><i class="fa fa-external-link"></i></a>
                    </div>
                </div>

                <div class="port-box mix inter">
                    <div class="port-image">
                        <img src="img/5.jpg">
                    </div>
                    <div class="port-content">
                        <h3>Contabilidade</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#"><i class="fa fa-external-link"></i></a>
                    </div>
                </div>

                <div class="port-box mix web">
                    <div class="port-image">
                        <img src="img/6.jpg">
                    </div>
                    <div class="port-content">
                        <h3>Marketing</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#"><i class="fa fa-external-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonio desig -->
    <div class="testimonio-container">
        <div class="main-text">
            <span>Mais de 5.00 alunos satisfeitos</span>
            <h2>Testemunios Valiosos</h2>
        </div>

        <div class="testimonio-wrapper">
            <div class="testimonio-box mySwiper">
                <div class="testimonio-content swiper-wrapper">
                    <div class="testimonio-slide swiper-slide">
                        <img src="images/1.jpg" alt="first-testimonio">
                        <h3>Jack Peterson</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, delectus. Mollitia quod, vero
                            obcaecati hic maxime fuga excepturi aliquid dolore architecto quas debitis culpa sed id,
                            sint officiis neque incidunt voluptatem .</p>
                    </div>

                    <div class="testimonio-slide swiper-slide">
                        <img src="images/2.jpg" alt="first-testimonio">
                        <h3>Marcos Mendoza</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, delectus. Mollitia quod, vero
                            obcaecati hic maxime fuga excepturi aliquid dolore architecto quas debitis culpa sed id,
                            sint officiis neque incidunt voluptatem .</p>
                    </div>

                    <div class="testimonio-slide swiper-slide">
                        <img src="images/3.jpg" alt="first-testimonio">
                        <h3>Pateicia Erick</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, delectus. Mollitia quod, vero
                            obcaecati hic maxime fuga excepturi aliquid dolore architecto quas debitis culpa sed id,
                            sint officiis neque incidunt voluptatem .</p>
                    </div>
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>


    <section class="faculty width" id="faculty">
        <div class="main-text">
            <span>Mais de 5.00 Professores activos</span>
            <h2>Nossos Professores</h2>

        </div>
        <div class="row-faculty width">
            {%for faculty in facultys %}

            <div class="card card6">
                <div class="box-img">
                    <img src={{faculty.img}} alt="{{faculty.name}}">
                    <span class="circle-img"></span>
                </div>
                <h3>{{faculty.name}}</h3>
                <strong>UI Design</strong>
                <p class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>

                </p>
                <a href="https://web.whatsapp.com/send?1=pt_AO&phone=+244{{faculty.whatsapp}}&text=Tenho interesse na sua aula de {{faculty.subject}} {{faculty.name}}"
                    class="button" target="_blank">
                    <img src="img/whatsapp.svg" alt="whatsapp">Contacta-me
                </a>
            </div>
            {%endfor%}
        </div>
    </section>
    <section class="events " id="events">
        <div class="main-text">
            <span>Mais de 5.00 eventos activos</span>
            <h2>Nossos Eventos </h2>

        </div>
        <div class="row-events">
            <div class="card-events">
                <div class="card-img">
                    <img src="img/events/baptism.png" alt="Freshman Baptism">
                </div>
                <div class="events-content">
                    <h3>Batismo dos calouros</h3>
                    <p>
                        é um dia especial dedicado a homenagear e valorizar as contribuições dos professores na
                        sociedade.as
                        contribuições dos professores na sociedade..
                    </p>
                </div>
            </div>
            <div class="card-events">
                <div class="card-img">
                    <img src="img/events/DayOfteachers.png" alt="Teachers' Day">
                </div>
                <div class="events-content">
                    <h3>Dia do professore</h3>
                    <p>
                        é um dia especial dedicado a homenagear e valorizar as contribuições dos professores na
                        sociedade.as
                        contribuições dos professores na sociedade..
                    </p>
                </div>

            </div>
            <div class="card-events">
                <div class="card-img">
                    <img src="img/events/prety.png" alt="Lesson 100">
                </div>
                <div class="events-content">
                    <h3>Lição 100</h3>
                    <p>
                        é um dia especial dedicado a homenagear e valorizar as contribuições dos professores na
                        sociedade.as
                        contribuições dos professores na sociedade..
                    </p>
                </div>
            </div>


        </div>
        <div class="buttons-home">
            <a href="#events" class="btn">Mais eventos </a>
        </div>
    </section>


    <section class="contact width" id="contact">
        <div class="main-text">
            <span>Mais de 15.00 pessoas conectadas</span>
            <h2>Ours Contact</h2>

        </div>
        <div class="row-contact">
            <div class="img-bg">
                <img src="img/ban.svg" alt="Banner-da-instituição">
            </div>
            <form action="save-chimbanda" method="POST" id="form" class="fr">
                <div class="box-main">
                    <div class="box-form">
                        <input type="text" name="name" placeholder="first name">
                        <span class="focus"></span>
                    </div>
                    <div class="box-form">
                        <input type="text" name="lastName" placeholder="Last name" required>
                        <span class="focus"></span>
                    </div>
                </div>
                <div class="box-main">
                    <div class="box-form">
                        <input type="number" name="number" placeholder="Number mobile" required>
                        <span class="focus"></span>
                    </div>
                    <div class="box-form">
                        <input type="email" name="email" placeholder="Email submit" required>
                        <span class="focus"></span>
                    </div>

                </div>

                <div class="textarea">
                    <textarea name="msg" id="msg" cols="32" rows="10" placeholder="Your mesage"></textarea>
                    <span class="focus"></span>
                </div>

                <div class="buttons-home">
                    <button type="submit" form="form" class="btn" id="btn">Enviar</button>

                </div>
            </form>
        </div>
    </section>

    <footer class="footer width">
        <div class="social-media">
            <a href="#" class="logo"><img src="img/footer.svg" alt="banner"></a>
            <p>Copyright &copy;2023-2024 IPPChimbanda </p>
            <div class="networks">
                <div>
                    <a href="https://www.facebook.com/">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/xavier-belchior-45483b283/">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-row">
            <div class="row">
            </div>
        </div>

        <div class="links">
            <ul class="media">
                <a href="https://www.facebook.com/">Facebook.com</a>
                <a href="https://www.youtobe.com/">Youtobe.com</a>
                <a href="https://www.instagram.com/">Instagram.com</a>
            </ul>
            <ul class="media">
                <a href="https://www.twuiter.com/">Twuiter.com</a>
                <a href="https://www.googlr.com/">google.com</a>
                <a href="https://www.discord.com/">Discord.com</a>
            </ul>
            <ul class="media">
                <a href="https://www.linkedin.com/">linkedin.com</a>
                <a href="https://www.dribble.com/">Dribble.com</a>
                <a href="https://www.telegram.com/">telegram.com</a>
            </ul>
        </div>
    </footer>
    <!-- swiper js -->
    <script src="package/swiper-bundle.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>