<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title>IPPC</title>
</head>

<body>
    <header>
        <a href="#" class="logo"><img src="img/logo.svg" alt="banner"></a>
        <div class="bars">
            <i class="fa fa-bars icon"></i>
        </div>
        <nav class="nagation">
            <a href="#home" class="active">Home</a>
            <a href="#about">About us</a>
            <a href="#courses">Courses</a>
            <a href="#faculty">Faculty</a>
            <a href="#events">Events</a>
            <a href="#contact">Contact us</a>
            <span class="active-navbar"></span>

        </nav>
    </header>
    <section class="home width" id="home">

        <div class="content-secundary">
            <h1>Find <span class="span">Future Begins </span>Now At The P.P Institute Chimbanda</h1>
            <p>Transform dreams into achievements with our excellent education.find oppurtunity to your grow up never
                give up of your dream,
                we give betters courses so don't lose chanse of change your life... </p>
        </div>

        <div class="buttons-home">
            <a href="/myBlog" class="btn"> Blog</a>
            <a href="#" class="btn">Student Work</a>

        </div>

        <div class="img-bg">
            <img src="img/banner.svg" alt="">

        </div>

    </section>
    <section class="about width" id="about">
        <div class="head-about width">
            <div class="box">
                <span>958+</span>
                <p>sucess menber</p>

            </div>
            <div class="box">
                <span>180+</span>
                <p>ours courses</p>
            </div>
            <div class="box">
                <span>78+</span>
                <p>project completed</p>
            </div>
            <div class="box">
                <span>10+</span>
                <p>winig award</p>
            </div>

        </div>

        <div class="about-main">
            <div class="about-img width">
                <img src="img/imgabout2.png" alt="ippchimbanda">

            </div>

            <div class="about-content width">
                <h3>About Chimbanda </h3>
                <p>
                    Welcome to Chimbanda, which is dedicated to providing an exceptional and inspiring education for
                    young people in Lobito. With an unwavering commitment to academic excellence, educational
                    innovation, and individualized care,
                    our mission is to cultivate curious minds and prepare students for a future filled with achievement.
                </p>
                </p>

                <div class="buttons-home">
                    <a href="#" class="btn">Read more</a>
                </div>
            </div>

        </div>
        </div>
    </section>
    <section class="courses width" id="courses">
        <div class="heading">
            <h2>Ours courses</h2>
            </h2>
            <p class="par">Over 5.00 Active Courses </p>
            </p>
        </div>

        <div class="row width">

            <div class="courses-content width">
                <div class="content-box">
                    <h3>Find Future Now At The P.P.I.Chimbanda </h3>
                    <p>Transform dreams into achievements with our excellent education,
                        we provide a dynamic learning environment that nurtures curiosity.

                    </p>

                    <div class="buttons-home">
                        <a href="#couses" class="btn" id="btn">More courses</a>

                    </div>
                </div>
            </div>

            <div class="courses-container width">
                <button class="btn-left control">
                    <i class="fa fa-arrow-left"></i>

                </button>
                <button class="btn-right control">
                    <i class="fa fa-arrow-right"></i>

                </button>
                <div class="gallery-wrapper">
                    <div class="gallery">
                        <div>
                            <img src="img/image0.png" class="item current-item" alt="image0">

                        </div>
                        <div>
                            <img src="img/image2.png" class="item" alt="image2">

                        </div>
                        <div>
                            <img src="img/image-3.png" class="item" alt="image3">
                        </div>
                        <div>
                            <img src="img/image-4.png" class="item" alt="image4">
                        </div>
                        <div class="year">
                            <img src="img/image5.png" class="item" alt="image5">
                        </div>

                    </div>

                </div>
            </div>

            <div class="more-courses width" id="moreCourses">
                <div class="course">
                    <img src="img/img6.png" alt="image0">
                </div>
                <div class="course">
                    <img src="img/image7.png" alt="image0">
                </div>
                <div class="course">
                    <img src="img/image8.png" alt="image0">
                </div>
                <div class="course">
                    <img src="img/image9.png" alt="image0">
                </div>
                <div class="course">
                    <img src="img/image2.png" alt="image0">
                </div>
                <span class="active-course"></span>
            </div>

        </div>
        <article class="sucess width">
            <div class="heading">
                <h2>Sucess Stories </h2>
                <p>Over 5.00 Active Courses</p>
            </div>
            <div class="row-sucess">
                <div class="card-sucess">
                    <h2>Xavier Belchior</h2>
                    <p class="country">
                        <img src="img/angola.png" alt="Angola">
                        <span>CEO $ Founder Chimbanda</span>
                    </p>

                    <p class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                    <div class="sucess-text">
                        <p class="text-sucess">Join a network of over 200 studentes.Join a network of over 200
                            studentes.
                            Join a network of over 200 studentes,Join a network of over.Join a network of over 200
                            studentes.Join a network of over 200 studentes.
                            Join a network of over 200 studentes,Join a network of over..
                        </p>
                    </div>


                    <div class="buttons-home">
                        <a href="#couses" class="btn" id="btn">Find more courses</a>
                    </div>

                </div>
                <div class="video-sucess">
                    <video controls>
                        <source src="img/video.mp4" type="video/mp4">

                    </video>

                </div>

            </div>

        </article>
    </section>

    <section class="faculty width" id="faculty">
        <div class="heading">
            <h2>Ours Faculty </h2>
            <p class="par">Over 5.00 Active faculty</p>
        </div>
        <div class="row-faculty width">
            {%for faculty in facultys %}

            <div class="card card6">
                <div class="box-img">
                    <img src={{faculty.img}} alt="{{faculty.name}}">
                    <span class="circle-img"></span>
                </div>
                <h3>{{faculty.name}}</h3>
                <strong>UI Design</strong>
                <p class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </p>
                <div class="btn-teacher">
                    <a href="https://api.whatsapp.com/send?1=pt_AO&phone=+244{{faculty.whatsapp}}&text=Tenho interesse na sua aula de {{faculty.subject}} {{faculty.name}}"
                        class="btn" target="_blank">
                        Entrar em contato

                    </a>
                </div>
            </div>
            {%endfor%}
        </div>
    </section>
    <section class="events width" id="events">
        <div class="heading">
            <h2>Ours Events </h2>
            <p class="par">Over 5.00 Active Events</p>
        </div>
        <div class="row-events">
            <div class="card-events">
                <div class="card-img">
                    <img src="img/events/baptism.png" alt="Freshman Baptism">
                </div>
                <h3>Freshman Bapt</h3>
                <p>
                    is a special day dedicated to honoring and appreciating
                    the contributions of teachers in society.the contributions of teachers in society.
                </p>
            </div>
            <div class="card-events">
                <div class="card-img">
                    <img src="img/events/DayOfteachers.png" alt="Teachers' Day">
                </div>
                <h3>Teachers' Day</h3>
                <p>
                    is a special day dedicated to honoring and appreciating
                    the contributions of teachers in society.the contributions of teachers in society.
                </p>
            </div>
            <div class="card-events">
                <div class="card-img">
                    <img src="img/events/prety.png" alt="Lesson 100">
                </div>
                <h3>Lesson 100</h3>
                <p>
                    is a special day dedicated to honoring and appreciating
                    the contributions of teachers in society.the contributions of teachers in society.
                </p>
            </div>


        </div>
        <div class="buttons-home">
            <a href="#events" class="btn">Find more events </a>
        </div>
    </section>


    <section class="contact width" id="contact">
        <div class="heading">
            <h2>Ours Contact</h2>
            <p class="par">Over 15.00 people connected</p>
        </div>
        <div class="row-contact">
            <div class="img-bg">
                <img src="img/banner.svg" alt="Banner-da-instituição">
            </div>
            <form action="save-chimbanda" method="POST" id="form" class="fr">
                <div class="box-main">
                    <div class="box-form">
                        <input type="text" name="name" placeholder="first name">
                        <span class="focus"></span>
                    </div>
                    <div class="box-form">
                        <input type="text" name="lastName" placeholder="Last name" required>
                        <span class="focus"></span>
                    </div>
                </div>
                <div class="box-main">
                    <div class="box-form">
                        <input type="number" name="number" placeholder="Number mobile" required>
                        <span class="focus"></span>
                    </div>
                    <div class="box-form">
                        <input type="email" name="email" placeholder="Email submit" required>
                        <span class="focus"></span>
                    </div>

                </div>

                <div class="textarea">
                    <textarea name="msg" id="msg" cols="32" rows="10" placeholder="Your mesage"></textarea>
                    <span class="focus"></span>
                </div>

                <div class="buttons-home">
                    <button type="submit" form="form" class="btn" id="btn">Send</button>

                </div>
            </form>
        </div>
    </section>

    <footer class="footer width">
        <div class="social-media">
            <a href="#" class="logo"><img src="img/logo.png" alt="banner"></a>
            <p>Copyright &copy;2023-2024 IPPChimbanda </p>
            <div class="networks">
                <div><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></div>
                <div> <a href="https://www.linkedin.com/in/xavier-belchior-45483b283/"><i
                            class="fa fa-linkedin-square"></i></a></div>
                <div><a href="https://www.instagram.com/"><i class="fa fa-instagram"></a></div>
            </div>
        </div>
        <div class="footer-row">
            <div class="row">
            </div>
        </div>

        <div class="links">
            <ul class="media">
                <a href="https://www.facebook.com/">Facebook.com</a>
                <a href="https://www.youtobe.com/">Youtobe.com</a>
                <a href="https://www.instagram.com/">Instagram.com</a>
            </ul>
            <ul class="media">
                <a href="https://www.twuiter.com/">Twuiter.com</a>
                <a href="https://www.googlr.com/">google.com</a>
                <a href="https://www.discord.com/">Discord.com</a>
            </ul>
            <ul class="media">
                <a href="https://www.linkedin.com/">linkedin.com</a>
                <a href="https://www.dribble.com/">Dribble.com</a>
                <a href="https://www.telegram.com/">telegram.com</a>
            </ul>
        </div>
    </footer>
    <script src="js/script.js"></script>
</body>

</html>