<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/animation-curses.css">
    <link rel="stylesheet" href="css/testimonio.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/modais.css">
    <link rel="stylesheet" href="css/propinas.css">
    <!-- swiper css -->
    <link rel="stylesheet" href="package/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title>IPPC</title>
</head>

<body class="body">
    <!--Header-->
    <header>
        <a href="#" class="logo"><img src="img/users/logo.svg" alt="logo do Chimbanda"></a>
        <div class="bars">
            <i class="fa fa-bars icon"></i>
        </div>
        <nav class="nagation">
            <div class="router">
                <a href="#home" class="active">Home</a>
                <a href="/galery" >Galeria</a>
                <a href="#courses">Cursos</a>
                <a href="#propinas">Propinas</a>
                <a href="#uniforme">Uniformes</a>
                <a href="#faculty">Professores</a>
                <a href="#events">Eventos</a>
                <a href="#equipa">Equipa</a>
                <a href="#contact">Contacto</a>
                <span class="active-navbar"></span>
            </div>

            <div class="profile">
                <i class="fa fa-user fa-3x img-profile"></i>
                <form action="/logout?_method=DELETE" method="POST" class="form-profile">
                    
                <div class="profile-content">
                    <i class="fa fa-user fa-3x img-profile"></i>
                    <div class="users-content"> 
                    <h3>{{name}}</h3>
                    <span>{{email}}  <button type="submit"><i class="fa fa-sign-out fa-2x "></i>Terminar-sessão</button></span>
                    <strong><i class="fa fa-check-circle"></i>A conta está ativada</strong>
                </div>
                   
                </div>
            </form>
            </div>
            
        </nav>
    </header>
    <section class="home width" id="home">

        <div class="content-secundary">
            <h1>Olá! <span style="color: #5638dc; font-weight: 700; font-size: 3rem;">{{name}}</span> ,encontre o futuro agora com...</h1>
            <div class="text-animate">
                <h3>{{empresa.nome}}</h3>
            </div>
            <h3 class="lema">{{empresa.lema}}</h3>

            <p>{{empresa.sobre}}</p>
        </div>

        <div class="buttons-home">
            <a href="/chat" class="btn"> iniciar Chat💬</a>
            <a href="#about" class="btn">Sobre nós</a>

        </div>

        <div class="img-bg">
            <img src="{{empresa.img}}" alt="">

        </div>

    </section>
    <section class="about width" id="about">
        <div class="head-about width">
            <div class="box">
                <span>{{empresaSobre.professores}}</span>
                <p>Professores</p>

            </div>
            <div class="box">
                <span>{{empresaSobre.cursos}}</span>
                <p>nossos cursos</p>
            </div>
            <div class="box">
                <span>+{{empresaSobre.estudantesFormados}}</span>
                <p>Estudantes Formados</p>
            </div>
            <div class="box">
                <span>+{{empresaSobre.alunosAlbergar}}</span>
                <p>Alunos-Albergados</p>
            </div>

        </div>

        <div class="about-main">
            <div class="about-img width">
                <img src="{{empresaSobre.imgEmpresa}}" alt="foto do instituto Politecnico Privado Chimbanda">

            </div>

            <div class="about-content width">
                <h3>{{empresaSobre.sobreChimbanda}}</h3>
                <p>
                    {{empresaSobre.paragrafo}}
                </p>
                </p>

                <div class="buttons-home">
                    <button class="btn" id="modal-about">Ler mais</button>
                </div>
            </div>
          </div>
          <div class="modal-historia">
            <div class="content-modal">
                <i class="fa fa-close fa-3x" id="close-modal"></i>
             <div class="modal-img">
                <span>{{empresaSobre.modalNameSobre}}</span>
             </div>
           <div class="text-modal">
            <p>{{empresaSobre.modalParagrafoSobre}}</p>

           </div>
                 
            </div>
         </div>
    </section>
    <section class="portfolio width" id="courses">
        <div class="main-text">
            <span>Nossos cursos</span>
            <h2>Ultimos Cursos</h2>
        </div>
            <div class="portfolio-gallery">
                <div class="port-box ">
                    <div class="port-image">
                        <img src="{{CursoInformatico.img}}" alt="{{CursoInformatico.alt}}">
                    </div>
                    <div class="port-content">
                        <h3>{{CursoInformatico.name}}</h3>
                        <p>{{CursoInformatico.paragrafo}}</p>
                        <a class="open-modal"><i class="fa fa-external-link" ></i></a>
                    </div>
                   
                </div>

                <div class="port-box ">
                    <div class="port-image">
                        <img src="{{CursoRecursos.img}}" alt="{{CursoRecursos.alt}}">
                    </div>
                    <div class="port-content">
                        <h3>{{CursoRecursos.name}}</h3>
                        <p>{{CursoRecursos.paragrafo}}</p>
                        <a class="open-modal2"><i class="fa fa-external-link"></i></a>
                    </div>
                </div>

                <div class="port-box ">
                    <div class="port-image">
                        <img src="{{CursoEmpresarial.img}}" alt="{{CursoEmpresarial.alt}}">
                    </div>
                    <div class="port-content">
                        <h3>{{CursoEmpresarial.name}}</h3>
                        <p>{{CursoEmpresarial.paragrafo}}</p>
                        <a class="open-modal3"><i class="fa fa-external-link"></i></a>
                    </div>
                </div>
            </div>
    
        <div class="modal-cursos">
            <div class="content-modal">
             <div class="modal-img">
                <span>{{modalInformatico.name}}</span>
             </div>
           <div class="text-modal">
            <h2>Saidas Profissionais</h2>
            <ul class="porfile-out">
                <li>{{modalInformatico.saidaOne}}</li>
                <li>{{modalInformatico.saidaOne}}</li>
                <li>{{modalInformatico.saidaTwo}}</li>
                <li>{{modalInformatico.saidaThree}}</li>
            </ul>
                 <div class="buttons-home">
                    <button class="btn-modal close-cursos">Fechar</button>
                </div>
           </div>
                 
            </div>
         </div>
         <div class="modal-cursos2">
            <div class="content-modal">
             <div class="modal-img">
                <span>{{modalRecursos.name}}</span>
             </div>
           <div class="text-modal">
            <h2>Saidas Profissionais</h2>
            <ul class="porfile-out">
                <li>{{modalRecursos.saidaOne}}</li>
                <li>{{modalRecursos.saidaTwo}}</li>
                <li>{{modalRecursos.saidaThree}}</li>
                <li>{{modalRecursos.saidaFour}}</li>
                <li>{{modalRecursos.saidaFive}}</li>
               
            </ul>
                 <div class="buttons-home">
                    <button class="btn-modal close-cursos2">Fechar</button>
                </div>
           </div>
                 
            </div>
         </div>
         <div class="modal-cursos3">
            <div class="content-modal">
             <div class="modal-img">
                <span>{{modalEmpresarial.name}}</span>
             </div>
           <div class="text-modal">
            <h2>Saidas Profissionais</h2>
            <ul class="porfile-out">
                <li>{{modalEmpresarial.saidaOne}}</li>
                <li>{{modalEmpresarial.saidaTwo}}</li>
                <li>{{modalEmpresarial.saidaThree}}</li>
                <li>{{modalEmpresarial.saidaFour}}</li>
            </ul>
                 <div class="buttons-home">
                    <button class="btn-modal close-cursos3">Fechar</button>
                </div>
           </div>
                 
            </div>
         </div>
    </section>
    <section class="propinas width" id="propinas">
        <div class="main-text">
            <span>Confira as nossas propinas</span>
            <h2>Propinas</h2>
        </div>
        <div class="wrapper-propina">
            <h3><span class="class">10ª</span>-Classe</h3>
            <div class="box-propina"> 

                {%for propinaTenClasse in propinaTenClasses %}
                    <div class="content-propina">
                        <img src="{{propinaTenClasse.img}}" >
                        <h3>{{propinaTenClasse.name}}</h3>
                        <p>
                            <span>Valor <strong>{{propinaTenClasse.valor}}KZ</strong></span>
                            <span>Multa <strong>{{propinaTenClasse.multa}}KZ</strong></span>
                        </p>
                    </div>
                {%endfor%}
            </div>
            <h3><span class="class">11ª</span>-Classe</h3>
            <div class="box-propina"> 
               {%for propinaElevenClasse in propinaElevenClasses %}
                    <div class="content-propina">
                        <img src="{{propinaElevenClasse.img}}" >
                        <h3>{{propinaElevenClasse.name}}</h3>
                        <p>
                            <span>Valor <strong>{{propinaElevenClasse.valor}}KZ</strong></span>
                            <span>Multa <strong>{{propinaElevenClasse.multa}}KZ</strong></span>
                        </p>
                    </div>
                {%endfor%}
            </div>
            <h3><span class="class">12ª</span>-Classe</h3>
            <div class="box-propina"> 
                {%for propinaTwelveClasse in propinaTwelveClasses %}
                    <div class="content-propina">
                        <img src="{{propinaTwelveClasse.img}}" >
                        <h3>{{propinaTwelveClasse.name}}</h3>
                        <p>
                            <span>Valor <strong>{{propinaTwelveClasse.valor}}KZ</strong></span>
                            <span>Multa <strong>{{propinaTwelveClasse.multa}}KZ</strong></span>
                        </p>
                    </div>
                {%endfor%}
            </div>
            <h3><span class="class">13ª</span>-Classe</h3>
            <div class="box-propina"> 
                {%for propinaThirteenClasse in propinaThirteenClasses %}
                    <div class="content-propina">
                     <img src="{{propinaThirteenClasse.img}}" >
                        <h3>{{propinaThirteenClasse.name}}</h3>
                        <p>
                            <span>Valor <strong>{{propinaThirteenClasse.valor}}KZ</strong></span>
                            <span>Multa <strong>{{propinaThirteenClasse.multa}}KZ</strong></span>
                        </p>
                    </div>
                {%endfor%}
            </div>
    

            
        </div>
    </section>
    <section class="equipa " id="uniforme">
        <div class="main-text">
            <span>Confira os nossos uniformes escolar</span>
            <h2>Nossos Uniformes </h2>

        </div>
        <div class="row-equipa">

            {%for uniforme in uniformes%}
                <div class="card-uniforme">
                    <div class="card-img">
                        <img src="{{uniforme.foto}}" alt="{{uniforme.alt}}">
                    </div>
                    <div class="uniforme-content">
                        <h3>{{uniforme.name}}</h3>
                    </div>
                </div>
            {%endfor%}
            
        </div>
    </section>
    <!-- testimonio desig -->
    <div class="testimonio-container">
        <div class="main-text">
            <span>Mais de 5.00 alunos satisfeitos</span>
            <h2>Testemunios Valiosos</h2>
        </div>

        <div class="testimonio-wrapper">
            <div class="testimonio-box mySwiper">
                <div class="testimonio-content swiper-wrapper">
                    
                    {%for testemunha in testemunhas %}
                        <div class="testimonio-slide swiper-slide">
                            <img src="{{testemunha.img}}" alt="{{testemunha.alt}}">
                            <h3>{{testemunha.name}}</h3>
                            <p>{{testemunha.paragrafo}}</p>
                        </div>

                    {%endfor%}
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>


    <section class="faculty width" id="faculty">
        <div class="main-text">
            <span>Mais de 5.00 Professores activos</span>
            <h2>Nossos Professores</h2>

        </div>
        <div class="row-faculty width">
            {%for faculty in facultys %}

            <div class="card card6">
                <div class="box-img">
                    <img src={{faculty.img}} alt="{{faculty.name}}">
                    <span class="circle-img"></span>
                </div>
                <h3>{{faculty.name}}</h3>
                <strong>{{faculty.subject}}</strong>
                <p class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>

                </p>
                <a href="https://web.whatsapp.com/send?1=pt_AO&phone=+244{{faculty.whatsapp}}&text=Tenho interesse na sua aula de {{faculty.subject}} {{faculty.name}}"
                    class="button" target="_blank">
                    <img src="img/whatsapp.svg" alt="whatsapp">Contacta-me
                </a>
            </div>
            {%endfor%}
        </div>
    </section>
    <section class="events " id="events">
        <div class="main-text">
            <span>Mais de 5.00 eventos activos</span>
            <h2>Nossos Eventos </h2>

        </div>
        <div class="row-events">

            {%for event in events%}
                <div class="card-events">
                    <div class="card-img">
                        <img src="{{event.img}}" alt="{{event.alt}}">
                    </div>
                    <div class="events-content">
                        <a href="/noticia"><h3>{{event.name}}</h3></a>
                        <p>
                            {{event.paragrafo}}
                        </p>

                    </div>
                </div>
            {%endfor%}
            
           


        </div>
        
    </section>
    <section class="equipa " id="equipa">
        <div class="main-text">
            <span>O nosso corpo administrativo</span>
            <h2>Nossa Equipa </h2>

        </div>
        <div class="row-equipa">

            {%for equip in equipa%}
                <div class="card-equipa">
                    <div class="card-img">
                        <img src="{{equip.img}}" alt="{{equip.alt}}">
                    </div>
                    <div class="equipa-content">
                        <h3>{{equip.name}}</h3>
                        <strong>{{equip.sector}}</strong>
                    </div>
                </div>
            {%endfor%}
            
        </div>
    </section>


    <section class="contact width" id="contact">
        <div class="main-text">
            <span>Mais de 15.00 pessoas conectadas</span>
            <h2>Contacta nos</h2>

        </div>
        <div class="row-contact">
            <div class="img-bg">
                <img src="img/ban.svg" alt="Banner-da-instituição">
            </div>
            <form action="save-chimbanda" method="POST" id="form" class="fr">
                <div class="box-main">
                    <div class="box-form">
                        <input type="text" name="name" placeholder="Seu nome">
                        <span class="focus"></span>
                    </div>
                    <div class="box-form">
                        <input type="number" name="number" placeholder="Numero do telefone" required>
                        <span class="focus"></span>
                    </div>
                   
                </div>
                <div class="box-main">
                     <div class="box-form">
                        <input type="text" name="subject" placeholder="Assunto" required>
                        <span class="focus"></span>
                    </div>
                    <div class="box-form">
                        <input type="email" name="email" placeholder="Email " >
                        <span class="focus"></span>
                    </div>

                </div>

                <div class="textarea">
                    <textarea name="msg" id="msg" cols="32" rows="10" placeholder="Tua mensagem é muito importante pra nós"></textarea>
                    <span class="focus"></span>
                </div>

                <div class="buttons-home">
                    <button type="submit" form="form" class="btn" id="btn">Enviar</button>

                </div>
            </form>
        </div>
    </section>

    <footer class="footer">
        <a href="#" ><img src="img/users/logo.svg" alt="logo do Chimbanda"></a>
        <div class="footer-text">
            <p>Copyright &copy; 2023-2024 by ippChimbanda | Todos direitos reservados. </p>
        </div>
        <div class="footer-iconTop">
            <a href="#"><i class="fa fa-arrow-circle-up"></i></a>
        </div>
    </footer>

    <!-- swiper js -->
    <script src="package/swiper-bundle.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/testemunhas.js"></script>
    <script src="js/script.js"></script>
</body>

</html>