
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <!--Icones, Fontwosame --> 
    <link rel="stylesheet" href="style/font-awesome.css">
    <title>Start Project Complete Responsive</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">X<span class="an">B</span> Developer. <span class="animate" style="--i:1;"></span></a>
        <div id="menuIcon">
            <i class="fa fa-bars"></i>
            <span class="animate" style="--i:2;"></span>
        </div>
        <nav class="navbar">
                <a href="#home" class="active">Home</a>
                <a href="#about">About</a>
                <a href="#education">Education</a>
                <a href="#skills">Skills</a>
                <a href="/">IppChimbanda</a>
                <a href="#contact" >Contact</a>

                <span class="active-nav"></span>
                <span class="animate" style="--i:2;"></span>
        </nav>

        
    </header>

    <!--Home-->
    <section class="home show-animate" id="home">
            <div class="content-home">
                <div>
                <h1>Hi, I'm <span>Xavier Mbumba</span><span class="animate" style="--i:2;"></span></h1>
                </div>
                <div class="animate-text">
                    <h3>Frontend Developer</h3>
                    <span class="animate" style="--i:3;"></span>
                  </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quisquam esse voluptatibus sapiente deserunt error nesciunt corrupti soluta asperiores dicta vitae voluptates,
                         suscipit ex impedit provident.
                         <span class="animate" style="--i:4;"></span>
                    </p> 

                    <div class="box-home">
                    <button class="btn" >Hire me</button>
                    <button class="btn" >Let's talk</button>
                    <span class="animate" style="--i:5;"></span>
                    </div>

                <div class="social-icon">
                   <a href="#"><i class="fa fa-instagram"></i></a>
                   <a href="#"><i class="fa fa-facebook"></i></a>
                   <a href="#"><i class="fa fa-linkedin"></i></a>
                   <span class="animate" style="--i:6;"></span>
                </div>
           

            <div class="content-img"><span class="animate" style="--i:7;"></span></div> 
        </div>
    </section>    

    <section class="about" id="about">
        <h2 class="heading">About <span>ME</span> <span class="animate scroll" style="--i:1;"></span> </h2>
        <div class="about-img">
            <img src="blogImg/ceo.png" alt="Xavier Belchior - CEO" >
            <span class="circle"></span>
            <span class="animate scroll" style="--i:2;"></span>
        </div>
        
        <div class="about-text">
            <h3 class="second">Frontend Developer!<span class="animate scroll" style="--i:3;"></span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est omnis dignissimos earum, impedit vel necessitatibus debitis sunt totam molestiae corporis labore quisquam quibusdam soluta. 
             Aspernatur fugit dolor ut ipsum rerum!Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
             <span class="animate scroll" style="--i:4;"></span>
         </p>
        </div>
        <div class="box-about">
            <button class="btn">Read More</button>
            <span class="animate scroll" style="--i:5;"></span>
        </div>
    </section>

    <section class="education" id="education">
        <div class="block">
        <h2 class="heading">My <span>journey</span><span class="animate scroll" style="--i:1;"></span></h2> </div>

        <div class="row-education">

            <div class="column-education">
                <h3 class="second">Education<span class="animate scroll" style="--i:2;"></span></h3> 

                <div class="box-education">
                  <div class="text-education">
                    <div class="cont-education">
                     <i class="fa fa-calendar"> 2017-2018</i>
                     <h3>Master Degree - University</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                        </div>
                     </div>
                <div class="text-education">
                    <div class="cont-education">
                    <i class="fa fa-calendar"> 2017-2018</i>
                    <h3>Master Degree - University</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                    </div>
                </div>
                <div class="text-education">
                    <div class="cont-education">
                    <i class="fa fa-calendar"> 2017-2018</i>
                    <h3>Master Degree - University</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                    </div>
                  </div>
                  
                  <span class="animate scroll" style="--i:3;"></span>
                </div>


            </div>

             <div class="column-education">
                <h3 class="second">Experience<span class="animate scroll" style="--i:4;"></span></h3> 

                <div class="box-education">
                  <div class="text-education">
                    <div class="cont-education">
                     <i class="fa fa-calendar"> 2017-2018</i>
                     <h3>Web Developer - Company</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                        </div>
                     </div>
                <div class="text-education">
                    <div class="cont-education">
                    <i class="fa fa-calendar"> 2017-2018</i>
                    <h3>Web Developer - Company</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                    </div>
                </div>
                <div class="text-education">
                    <div class="cont-education">
                    <i class="fa fa-calendar"> 2017-2018</i>
                    <h3>Web Developer - Company</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                    </div>
                  </div>

                  <span class="animate scroll" style="--i:5;"></span>
                </div>
            </div>


        </div>
    </section>

    <section class="skills" id="skills">
        <h2 class="heading">My <span>Skills</span><span class="animate scroll" style="--i:1;"></span></h2>

        <div class="row-skills">
            <div class="column-skills">
                <h3 class="title">Coding Skills<span class="animate scroll" style="--i:2;"></span></h3>

                <div class="cont-skills">
                    <div class="box-skills">

                        <div class="progress">
                        <h3>HTML<span>90%</span></h3>
                        <div class="percent"><span></span></div>
                        </div>
                        
                        <div class="progress">
                        <h3>CSS<span>50%</span></h3>
                        <div class="percent"><span></span></div>
                        </div>

                        <div class="progress">
                        <h3>JavaScript<span>20%</span></h3>   
                        <div class="percent"><span></span></div>
                        </div>

                        <div class="progress">
                        <h3>PHP<span>10%</span></h3>
                        <div class="percent"><span></span></div>
                        </div>
                
                    </div>

                    <span class="animate scroll" style="--i:3;"></span>
                </div>
            </div>
    

                <div class="column-skills">
                <h3 class="title">Profissional Skills <span class="animate scroll" style="--i:4;"></span></h3>

                <div class="cont-skills">
                    <div class="box-skills">

                        <div class="progress">
                        <h3>Web Designer<span>65%</span></h3>
                        <div class="percent"><span></span></div>
                        </div>
                        
                        <div class="progress">
                        <h3>Web Development<span>45%</span></h3>
                        <div class="percent"><span></span></div>
                        </div>

                        <div class="progress">
                        <h3>Grafic Design<span>10%</span></h3>   
                        <div class="percent"><span></span></div>
                        </div>

                        <div class="progress">
                        <h3>SEO Markenting<span>50%</span></h3>
                        <div class="percent"><span></span></div>
                        </div>


                        
                    </div>
                    <span class="animate scroll" style="--i:4;"></span>
                </div>
            </div>
        
    </div>


    </section>

    <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me!</span><span class="animate scroll" style="--i:1;"></span></h2>
          <form method="POST">
                      <div class="box-contact">
                               <div class="input-field">
                                    <input type="text" name="texto" id="texto" placeholder="full name">
                                    <span class="focus"></span>
                                </div>

                                <div class="input-field">
                                    <input type="email" name="texto" id="email" placeholder="Email Adress">
                                    <span class="focus"></span>
                                </div>

                        <span class="animate scroll" style="--i:2;"></span>

                           </div>

                        <div class="box-contact">
                           <div class="input-field">
                                    <input type="number" name="n" id="number" placeholder="Number Mobile">
                                    <span class="focus"></span>
                                </div>
                                <div class="input-field">
                                    <input type="email" name="texto" id="email" placeholder="Email Subject">
                                    <span class="focus"></span>    
                           </div>

                           <span class="animate scroll" style="--i:3;"></span>
                       </div>

                      <div class="message" >
                          <textarea name="ms" value="" cols="30" rows="10" placeholder="Your Message"></textarea>
                          <span class="focus"></span>
                          <span class="animate scroll" style="--i:4;"></span>
                    </div>

                     <div class="contact-box">
                           <button class="btn">Submit</button>

                           <span class="animate scroll" style="--i:5;"></span>

                     </div>
                 </form>
    </section>
    <footer class="footer">
        <div class="text-footer">
            <p>Copyright &copy; 2023 by Xavier,  #Codehal | All rights reserved.<span class="animate scroll" style="--i:1;"></span></p>
            
        </div>
        <div class="icon-footer">
            <a href="#" class="btn" ><i class="fa fa-arrow-circle-up"></i></a>
            <span class="animate scroll" style="--i:2;"></span>
        </div>
    </footer>

    <script src="script/script.js"></script>
</body>
</html>