<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/noticia.css">
    <link rel="stylesheet" href="css/galery.css">
    <!-- swiper css -->
    <link rel="stylesheet" href="package/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title>IPPC-Noticias</title>
</head>

<body class="body">
    <!--Header-->
    <header>
        <a href="#" class="logo"><img src="img/users/logo.svg" alt="logo do Chimbanda"></a>
        <div class="bars">
            <i class="fa fa-bars icon"></i>
        </div>
        <nav class="nagation">
            <div class="router">
                <a href="/" class="active">Home</a>
                <a href="#noticias" >Eventos</a>
                <span class="active-navbar"></span>
            </div>

            
        </nav>
    </header>
    <section class="home width galeria-main" id="home">

        <div class="content-secundary-galeria">
            <h1>Descubra Nossos Eventos</h1>
            <p>Explore nossa lista completa de eventos para participar de atividades emocionantes e momentos especiais no Instituto Politecnico Privado Chimbanda</p>
          
        </div>

       
    </section>
  
 <section class="noticia" id="noticias">
    <div class="main-noticia">
        <div class="box-noticia">
            <div class="noticia-img">
                <img src="img/galeria/batismo-4.jpg" alt="foto de batismos dos calouros">
            </div>
             
            <div class="descrisao">
                <h2>Batismo dos calouros</h2>
                <p>
                    Batismos dos calouros" é uma expressão que pode se referir a um evento ou ritual de iniciação realizado em muitas universidades ou faculdades.
 Geralmente, ocorre no início do ano letivo ou do semestre e é destinado aos novos alunos, conhecidos como calouros.
                </p>
            </div>
        </div>
        <div class="box-noticia">
            <div class="descrisao">
                <h2>Cerimonias dos finalistas de 2023</h2>
                <p>
                    A "cerimônia dos finalistas" é um evento que marca a conclusão bem-sucedida dos estudos universitários por parte dos estudantes, que estão prestes a se formar. É uma celebração significativa que reconhece o árduo trabalho, dedicação e conquistas acadêmicas dos alunos ao longo de sua jornada na universidade.

                </p>
            </div>
            <div class="noticia-img">
                <img src="img/events/cerimoniafinalistas.jpg" alt="foto dos finalistas de 2023">
            </div>
             
            
        </div>
        <div class="box-noticia">
            <div class="noticia-img">
                <img src="img/events/mediateca-e-museu.jpg" alt="foto dos alunos no museu de Benguela">
            </div>
             
            <div class="descrisao">
                <h2>Mediateca e Museu-Benguela</h2>
                <p>
                   Quando uma escola leva os alunos para visitar um museu, isso é geralmente chamado de "excursão educacional" ou "passeio escolar". Este tipo de atividade é organizado com o objetivo de enriquecer a experiência educacional dos alunos, proporcionando-lhes a oportunidade de aprender de forma prática e interativa fora do ambiente da sala de aula.
                </p>
            </div>
        </div>
       
    </div>

 </section>

    <footer class="footer">
        <a href="#" ><img src="img/users/logo.svg" alt="logo do Chimbanda"></a>
        <div class="footer-text">
            <p>Copyright &copy; 2023/2024 by ippChimbanda | Todos direitos reservados. </p>
        </div>
        <div class="footer-iconTop">
            <a href="#"><i class="fa fa-arrow-circle-up"></i></a>
        </div>
    </footer>

    <!-- swiper js -->
   
    <script src="js/script.js"></script>
</body>

</html>