<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/sucess.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title>Sucess contact</title>
    
    <script>
        function redirecionar() {
            setTimeout(function () {
                window.location.href = "/"; // URL da página para redirecionar
            }, 5000); // 5000 milissegundos = 5 segundos
        }

        // Chame a função de redirecionamento quando a página carregar
        window.onload = redirecionar;
    </script>
</head>

<body>

    <main class="sucessPage">
        <div>
            <img src="img/success-check-icon.svg" alt="contact sucessfull">
        </div>
    </main>


</body>

</html>